

h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  line-height: 0.875 !important;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
.h4:last-child,
.h5:last-child,
.h6:last-child {
  margin-bottom: 0;
}

.alt-font {
  font-family: 'Playfair Display', serif !important;
}


* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
}

*:focus,
*:active,
*:hover {
  outline: none;
}


img {
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

ol,
ul {
  margin-bottom: 0;
  list-style-type: square;
  padding-left: 1rem;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.714285714285714;
  font-size: 14px;
  background: #fff;
  color: #000;
}

main {
  position: relative;
  z-index: 2;
  background: #fff;
}




.footer-default {
  padding-top: 162px;
  padding-bottom: 70px;
}

.footer-default__head {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 37px;
  margin-bottom: 73px;
}

.footer-default__head:after {
  content: '';
  width: 35px;
  height: 2px;
  background: #f24a00;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.footer-default__group-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.footer-default__list {
  color: #666;
  line-height: 1.571428571428571;
  list-style: none;
}

.footer-default p {
  color: #666;
  line-height: 1.571428571428571;
  margin-bottom: 10px;
}

.footer-default p a {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}


.footer-default__list-item {
  margin-bottom: 2px;
}

.footer-default__list-link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.footer-default__list-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}


.footer-default__socials {
  padding-top: 9px;
}

.footer-default__bottom {
  margin-top: 70px;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer_fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #242323;
  color: #fff;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  color: #ffffff !important;
  background: #242323;

}

.header__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.2;
  display: none;
}

.header__container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 1px;
}

.header_fixed .header__container {
  transform: translateY(0%);
}

.header__wrapper {
  padding-top: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 25px;
}

.header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.header__menu-button {
  position: absolute;
  right: -13px;
  top: 50%;
  margin-top: -25px;
  border: 0;
  width: 50px;
  height: 50px;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: currentColor;
  transition: color 0.5s;
  z-index: 2;
}


.header__menu-button_fixed {
  right: 47px;
  top: 34px;
  margin: 0;
}

.header__menu-button-inner {
  height: 2px;
  width: 24px;
  background: currentColor;
  position: relative;
  border: 0;
  transition: background 0.5s;
}


.header__menu-button-inner:before,
.header__menu-button-inner:after {
  position: absolute;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: currentColor;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.header__menu-button-inner:before {
  transform: translateY(7px);
}

.header__menu-button-inner:after {
  transform: translateY(-7px);
}


.header__menu {
  transform: translateX(100%) translateZ(0);
  transition: 0.6s;
  z-index: 9;
}

a:not([class]) {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

a:not([class]):after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

a:not([class]):hover {
  color: #f24a00;
}

a:not([class]):hover:after {
  opacity: 1;
}

.link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.link_active {
  color: #f24a00;
}

.link_active:after {
  opacity: 1;
}

.logo {
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 0.555555555555556;
  margin-top: 0.1em;
  text-transform: uppercase;
  color: currentColor;
  text-decoration: none;
  letter-spacing: 0.2em;
  transition: all 0.3s;
}

.menu-panel {
  position: fixed;
  background: #fff;
  color: #000;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 550px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

.menu-panel__inner {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 44px;
  padding-left: 60px;
  padding-right: 60px;
}

.menu-panel__menu {
  transition: all 0.5s 0.6s ease;
  transform: translateY(3rem);
  opacity: 0;
}

.menu-panel__menu-item {
  margin-bottom: 15px;
}

.menu-panel__menu-link {
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
  line-height: 1.1;
}

.menu-panel__menu-link.collapsed {
  color: #999;
}

.menu-panel__menu-link_active {
  color: currentColor;
}

.menu-panel__menu-link_active.collapsed {
  color: currentColor;
}

.menu-panel__footer {
  margin-top: auto;
  padding-bottom: 44px;
}

.menu-panel__socials {
  margin-top: 60px;
  transition: all 0.5s 0.7s ease;
  transform: translateY(3rem);
  opacity: 0;
}

.menu-panel .menu-panel__socials {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.menu-panel__bottom {
  margin-top: 18px;
  color: #999;
  transition: all 0.5s 0.9s ease;
  transform: translateY(2rem);
  opacity: 0;
}

.menu-panel__bottom strong {
  color: #000;
  font-weight: 600;
}

.minimal-head-block__intro-label-wrapper {
  position: relative;
}

.minimal-head-block__intro-label-inner:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 3px;
  top: 10px;
  width: 100%;
  /* line-height: 3em; */
  /* background: #2b2b2b; */
}

.minimal-head-block__intro-label {
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
  /* padding: 0 10px; */
  line-height: 1;
  position: relative;
  z-index: 2;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f24a01;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}



.reviews-block_template_zoom {
  background: #f8f8f8;
}

.reviews-block_template_zoom .reviews-block__title {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 600;
  background: #f14201;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 4px 6px 1px;
}

.reviews-block__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.reviews-block__slider {
  margin-top: 76px;
}

.reviews-block__slide {
  background: #fff;
  padding: 44px 50px;
}

.reviews-block__text {
  color: #666;
  font-size: 18px;
  line-height: 1.666666666666667;
  margin-bottom: 32px;
}

.reviews-block__person {
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  position: relative;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reviews-block__person-data {
  margin-top: 5px;
}

.reviews-block__person-name {
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 2px;
}

.reviews-block__person-role {
  color: #999;
}

.reviews-block__quote {
  width: auto !important;
  position: absolute;
  right: 0;
  top: 12px;
}

.reviews-block__controls {
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -2px;
}

.reviews-block__control {
  background: none;
  border: 0;
  color: currentColor;
  margin-bottom: -2px;
  transition: 0.3s ease;
  transform: translateZ(0);
}


.socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.socials__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  color: currentColor;
  border-radius: 100%;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.socials__social:not(:first-child) {
  margin-left: 15px;
}

.service-intro-slide {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: 50%;
  /* text-align: center; */
  position: relative !important;
  z-index: 999 !important;
  color: #fff;
}


.studio-intro-slide__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 90px;
}

.studio-intro-slide__container h1:before {
  background: #ffffff;
  content: "";
  height: 1px;
  position: absolute;
  top: 140px;
  right: 103%;
  width: 2000px;
}

.studio-intro-slide__inner {
  position: relative;
  left: auto !important;
}

.padding-10px-top {
  padding-top: 10px;
}
.padding-20px-top {
  padding-top: 20px;
}

.padding-50px-top {
  padding-top: 50px;
}
.padding-50px-tb {
  padding-top: 50px;
  padding-bottom: 50px;
}

.studio-intro-slide__subtitle {
  font-size: 24px;
  margin-bottom: 17px;
}

.studio-intro-slide__title-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.studio-intro-slide__title {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  /* line-height: 0.875; */
  line-height: 0.675em !important;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 20px;
  /* margin-bottom: 5vh; */
}

.studio-intro-slide__text {
  font-size: 20px;
  max-width: 630px;
  margin-bottom: 84px;
  line-height: 1.6;
  /* margin-left: auto;
  margin-right: auto; */
  white-space: initial !important;
}

.studio-intro-slide__link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.4;
}

.studio-intro-slide__link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.studio-intro-slide__link:hover {
  color: #f24a00;
}

.studio-intro-slide__link:hover:after {
  opacity: 1;
}

.studio-intro-slide__link_active {
  color: #f24a00;
}

.studio-intro-slide__link_active:after {
  opacity: 1;
}

.studio-intro-slide__link_inverted:after {
  opacity: 1;
}

.studio-intro-slide__link_inverted:hover:after {
  opacity: 0;
}

.studio-intro-slide__link:after {
  height: 2px;
}

.Background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

.Background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.5), transparent 50%, rgba(0,0,0,0.5));
}

/*
studio-main-slide
*/

.studio-main-slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: 700px;
  background-size: cover;
  background-position: 50%;
  padding-top: 130px;
  padding-bottom: 90px;
  text-align: center;
  position: relative !important;
  z-index: 999 !important;
  color: #fff;
}

.studio-main-slide__inner {
  position: relative;
  left: auto !important;
}

.studio-main-slide__subtitle {
  font-size: 24px;
  margin-bottom: 17px;
}

.studio-main-slide__title-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 52px;
}

.studio-main-slide__title {
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  line-height: 0.875;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.studio-main-slide__text {
  font-size: 20px;
  max-width: 630px;
  margin-bottom: 84px;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  white-space: initial !important;
}

.studio-main-slide__link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.4;
}

.studio-main-slide__link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.studio-main-slide__link:hover {
  color: #f24a00;
}

.studio-main-slide__link:hover:after {
  opacity: 1;
}

.studio-main-slide__link_active {
  color: #f24a00;
}

.studio-main-slide__link_active:after {
  opacity: 1;
}

.studio-main-slide__link_inverted:after {
  opacity: 1;
}

.studio-main-slide__link_inverted:hover:after {
  opacity: 0;
}

.studio-main-slide__link:after {
  height: 2px;
}

/*
studio-main-slider
*/

.studio-main-slider {
  position: relative;
}

/*
studio-posts
*/

.studio-posts {
  background-image: url("../../assets/img/dot-gray.jpg");
  overflow: hidden;
  padding-top: 123px;
  padding-bottom: 150px;
}

/*
studio-reviews
*/

.studio-reviews {
  background: #f8f8f8;
  padding-top: 116px;
  padding-bottom: 100px;
}

.studio-reviews-cta {
  background: #f24a00;
  padding-top: 60px;
  padding-bottom: 20px;
}

.studio-reviews__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 48px;
}

.studio-reviews__title {
  font-size: 42px;
  line-height: 1.25;
  font-family: 'Playfair Display', serif;
}

.studio-reviews__title-cta {
  font-size: 36px;
  line-height: 1.25;
  font-family: 'Playfair Display', serif;
}

.studio-reviews__more-link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-top: 27px;
  margin-left: auto;
}

.studio-reviews__more-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.studio-reviews__more-link:hover {
  color: #f24a00;
}

.studio-reviews__more-link:hover:after {
  opacity: 1;
}

.studio-reviews__more-link_active {
  color: #f24a00;
}

.studio-reviews__more-link_active:after {
  opacity: 1;
}

.studio-reviews__more-link_inverted:after {
  opacity: 1;
}

.studio-reviews__more-link_inverted:hover:after {
  opacity: 0;
}

.cta__link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #f24a00;
  display: inline-block;
  vertical-align: top;
  font-size: 42px;
  /* margin-top: 27px; */
  margin-left: auto;
}

.cta__link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.cta__link:hover {
  color: #666;
}

.cta__link:hover:after {
  opacity: 1;
}

.cta__link_active {
  color: #fff;
}

.cta__link_active:after {
  opacity: 1;
}

.cta__link_inverted:after {
  opacity: 1;
}

.cta__link_inverted:hover:after {
  opacity: 0;
}

.body__more-link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #777777;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  /* margin-top: 27px; */
  margin-left: auto;
}

.body__more-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.body__more-link:hover {
  color: #f24a00;
}

.body__more-link:hover:after {
  opacity: 1;
}

.body__more-link_active {
  color: #f24a00;
}

.body__more-link_active:after {
  opacity: 1;
}

.body__more-link_inverted:after {
  opacity: 1;
}

.body__more-link_inverted:hover:after {
  opacity: 0;
}

.studio-reviews__review {
  background: #fff;
  padding: 36px 40px 44px;
  margin-bottom: 52px;
}

.studio-reviews__review-status {
  font-size: 20px;
  font-weight: 500;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.studio-reviews__review-stars {
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  color: #67a900;
  margin-left: 4px;
  font-size: 22px;
  margin-bottom: 3px;
}

.studio-reviews__review-star {
  margin-right: 3px;
}

.studio-reviews__review-star_empty {
  opacity: 0.4;
}

.studio-reviews__review-text {
  font-size: 16px;
  line-height: 1.75;
}

.studio-reviews__person {
  position: relative;
  padding-left: 72px;
  padding-top: 4px;
  padding-bottom: 10px;
  min-height: 60px;
  opacity: 0.25;
  margin-bottom: 20px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.studio-reviews__person:hover {
  opacity: 0.7;
}

.studio-reviews__person_active {
  opacity: 1;
}

.studio-reviews__person-image {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.studio-reviews__person-name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5625;
  margin-bottom: -4px;
}

.studio-reviews__person-role a {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #09c;
}

.studio-reviews__person-role a:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.studio-reviews__person-role a:hover {
  color: #f24a00;
}

.studio-reviews__person-role a:hover:after {
  opacity: 1;
}

.studio-reviews__person-role a_active {
  color: #f24a00;
}

.studio-reviews__person-role a_active:after {
  opacity: 1;
}

.studio-reviews__person-role a_inverted:after {
  opacity: 1;
}

.studio-reviews__person-role a_inverted:hover:after {
  opacity: 0;
}

/*
team-block
*/

.team-block {
  margin-top: 136px;
  overflow: hidden;
}

.team-block_separated {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 52px;
}

.team-block__body {
  padding-bottom: 105px;
}

.team-block__body_bordered {
  border-bottom: 1px solid #e0e0e0;
}

.team-block__slider-wrapper {
  position: relative;
}

.team-block__slide {
  text-align: center;
}

.team-block__person-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 0.714285714285714;
  margin-bottom: 9px;
  transition: 0.3s;
}

.team-block__slide:hover .team-block__person-name {
  color: #f24a00;
}

.team-block__person-role {
  color: #999;
}

.team-block__image-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.team-block__image-wrapper img {
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}

.team-block__slide:hover .team-block__image-wrapper img {
  opacity: 0.05;
}

.team-block__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team-block__slide:hover .team-block__hover {
  opacity: 1;
}

.team-block__control {
  position: absolute;
  top: 30%;
  background: none;
  border: 0;
  color: currentColor;
  margin-bottom: -2px;
  transition: 0.3s ease;
  transform: translateZ(0);
  font-size: 44px;
  opacity: 0.25;
}

.team-block__control:hover {
  color: #999;
}

.team-block__control_prev {
  left: -90px;
}

.team-block__control_next {
  right: -90px;
}

.team-block__text {
  font-size: 18px;
  line-height: 1.222222222222222;
  margin-top: 75px;
}

.team-block__text a {
  color: #09c;
}

/*
header-fixed
*/

.top-menu {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}

.top-menu__menu-item:not(:last-child) {
  margin-right: 58px;
}

.top-menu__menu-link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.top-menu__menu-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.top-menu__menu-link:hover {
  color: #f24a00;
}

.top-menu__menu-link:hover:after {
  opacity: 1;
}

.top-menu__menu-link_active {
  color: #f24a00;
}

.top-menu__menu-link_active:after {
  opacity: 1;
}

.top-menu__menu-link_inverted:after {
  opacity: 1;
}

.top-menu__menu-link_inverted:hover:after {
  opacity: 0;
}

.top-menu__menu-link:after {
  display: none;
}

.top-menu__contacts {
  text-transform: uppercase;
}

.top-menu__contacts span {
  transition: all 0.3s;
}

.top-menu__contacts a {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.top-menu__contacts a:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.top-menu__contacts a:hover {
  color: #f24a00;
}

.top-menu__contacts a:hover:after {
  opacity: 1;
}

.top-menu__contacts a_active {
  color: #f24a00;
}

.top-menu__contacts a_active:after {
  opacity: 1;
}

.top-menu__contacts a_inverted:after {
  opacity: 1;
}

.top-menu__contacts a_inverted:hover:after {
  opacity: 0;
}

.top-menu__contacts a:after {
  display: none;
}

.top-menu__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-menu__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

/*
video-block
*/

.video-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 100px;
  width: 83.33333333333334%;
  margin-right: auto;
  color: #fff;
  transition: all 0.3s;
}

.video-block:hover {
  color: #f24a00;
}

.video-block:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -100px;
  right: -20%;
  background: url("../../assets/img/dot.jpg");
  z-index: 1;
}

.video-block img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

.video-block__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid currentColor;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 8px;
}

.video-block__play:after {
  width: 0;
  height: 0;
  background: 0;
  border-style: solid;
  border-width: 15px 0 15px 23px;
  border-color: transparent transparent transparent currentColor;
  content: '';
}

/*
visually-hidden
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*
zoom-counter
*/

.zoom-counter {
  padding: 220px 0 60px;
}

.zoom-counter__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.zoom-counter__card {
  padding: 54px 59px 60px 66px;
  background-size: cover;
  background-position: 50%;
  text-transform: uppercase;
  margin-bottom: 80px;
  width: 34.3%;
  min-width: 34.3%;
  position: relative;
  margin-right: 14.4%;
}

.zoom-counter__card:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  background: #fff;
}

.zoom-counter__card-title {
  color: #000;
  font-size: 30px;
  font-family: 'Teko', Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 76px;
  position: relative;
  z-index: 2;
  text-align: right;
}

.zoom-counter__card-value {
  background: inherit;
  font-size: 250px;
  line-height: 1;
  font-family: 'Teko', Helvetica, sans-serif;
  margin-left: -2px;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
  font-weight: 600;
  margin-bottom: 4px;
}

.zoom-counter__card-description {
  color: #000;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.zoom-counter__info {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.zoom-counter__subtitle {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 600;
  background: #2b2b2b;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 26px;
}

.zoom-counter__subtitle:empty {
  opacity: 0;
}

.zoom-counter__title {
  font-size: 72px;
  line-height: 0.861111111111111;
  font-family: 'Playfair Display', serif;
  margin-bottom: 50px;
}

.zoom-counter__text {
  font-size: 16px;
  line-height: 1.75;
  color: #666;
  margin-bottom: 103px;
}

.zoom-counter__text p {
  margin-bottom: 30px;
}

.zoom-counter__read-more {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.4;
}

.zoom-counter__read-more:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.zoom-counter__read-more:hover {
  color: #f24a00;
}

.zoom-counter__read-more:hover:after {
  opacity: 1;
}

.zoom-counter__read-more_active {
  color: #f24a00;
}

.zoom-counter__read-more_active:after {
  opacity: 1;
}

.zoom-counter__read-more_inverted:after {
  opacity: 1;
}

.zoom-counter__read-more_inverted:hover:after {
  opacity: 0;
}

.zoom-counter__read-more:after {
  height: 2px;
}

/*
zoom-counters
*/

.zoom-counters {
  padding-top: 75px;
  padding-bottom: 100px;
}

.zoom-counters__item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.zoom-counters__value {
  font-size: 68px;
  line-height: 1;
  font-family: 'Playfair Display', serif;
  position: relative;
  margin-right: 28px;
  visibility: hidden;
}

.zoom-counters__value-inner {
  position: absolute;
  visibility: visible;
  left: 0;
  top: 0;
}

.zoom-counters__text {
  padding-top: 11px;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #666;
}

/*
zoom-image-head
*/

.zoom-image-head {
  position: relative;
  height: 100vh;
  z-index: 2;
  color: #242323;
}

.no-mobile .zoom-image-head {
  margin-bottom: 400px;
}

.zoom-image-head__body {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-image-head__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.zoom-image-head__bg-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 50%;
}

/* .zoom-image-head__bg2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
} */

.zoom-image-head__content {
  position: relative;
  width: 100%;
  z-index: 3;
  padding-top: 100px;
}

.zoom-image-head__subtitle {
  font-size: 24px;
  line-height: 1.666666666666667;
  font-weight: 100;
  font-weight: 500;
  margin-bottom: 34px;
}

.zoom-image-head__subtitle strong {
  font-weight: 500;
}

.zoom-image-head__title {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  /* text-transform: uppercase; */
  font-weight: 900;
  line-height: 0.909090909090909;
  margin-bottom: 57px;
  margin-bottom: 5vh;
}

.zoom-image-head__text {
  font-size: 18px;
  line-height: 1.222222222222222;
  color: #666;
  line-height: 1.666666666666667;
}

.zoom-image-head__icon {
  color: #f24a00;
  font-size: 60px;
  margin-top: 115px;
  margin-top: 9vh;
}

/*
zoom-posts
*/

.zoom-posts {
  padding-top: 123px;
  padding-bottom: 140px;
}

.zoom-posts__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 70px;
}

.zoom-posts__title {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 600;
  background: #f14201;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 4px 6px 1px;
  margin-right: auto;
}

.zoom-posts__title:empty {
  opacity: 0;
}

.zoom-posts__more-link {
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  font-size: 16px;
}

.zoom-posts__more-link:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: opacity 0.3s;
  opacity: 0;
}

.zoom-posts__more-link:hover {
  color: #f24a00;
}

.zoom-posts__more-link:hover:after {
  opacity: 1;
}

.zoom-posts__more-link_active {
  color: #f24a00;
}

.zoom-posts__more-link_active:after {
  opacity: 1;
}

.zoom-posts__more-link_inverted:after {
  opacity: 1;
}

.zoom-posts__more-link_inverted:hover:after {
  opacity: 0;
}

/*
zoom-services
*/

.zoom-services__title {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 600;
  background: #f14201;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 4px 6px 1px;
  margin-bottom: 70px;
}

.zoom-services__title:empty {
  opacity: 0;
}

.zoom-services__wrapper {
  margin-bottom: 70px;
}

.zoom-services__wrapper_bordered {
  margin-bottom: 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6e6e6;
}

.zoom-services__list {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.zoom-services__item {
  width: 25%;
  padding: 30px 32px 70px;
  display: block;
  text-decoration: none;
  color: currentColor;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  transition: all 0.3s;
  position: relative;
  background: #fff;
}

.zoom-services__item:hover {
  background: #f14201;
  color: #fff;
}

.zoom-services__item-title {
  font-size: 26px;
  line-height: 1;
  font-family: 'Playfair Display', serif;
  display: block;
  /* text-transform: uppercase; */
  margin-bottom: 18px;
}

.zoom-services__item-text {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  color: #999;
  transition: all 0.3s;
}

.zoom-services__item:hover .zoom-services__item-text {
  color: #fff;
}

.zoom-services__item-footer {
  display: block;
  position: absolute;
  left: 32px;
  bottom: 24px;
}

.zoom-services__more {
  font-weight: 600;
  text-transform: uppercase;
}

.zoom-services__item-icon {
  font-size: 48px;
  display: block;
  color: #f14201;
  margin-bottom: 46px;
  transition: all 0.3s;
}

.zoom-services__item:hover .zoom-services__item-icon {
  color: #fff;
}

.zoom-services__item:hover .zoom-services__more {
  color: #fff;
}

.zoom-services__item:hover .zoom-services__item-title {
  color: #fff;
}

.zoom-services__item:active { 
  width: 25%;
  padding: 30px 32px 172px;
  display: block;
  text-decoration: none;
  color: currentColor;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  transition: all 0.3s;
  position: relative;
  background: #f14201;
  color: #fff;
}

/*
zoom-slider
*/

.zoom-slider {
  padding-top: 38px;
  /* margin-bottom: 148px; */
}

.zoom-slider_top-offset {
  padding-top: 230px;
}

.zoom-slider__header {
  margin-bottom: 38px;
}

.zoom-slider__title {
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  font-weight: 600;
  background: #f14201;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 4px 6px 1px;
  margin-bottom: 30px;
}

.zoom-slider__title:empty {
  opacity: 0;
}

.zoom-slider__filter {
  font-size: 16px;
  font-weight: 600;
  color: #999;
  margin-bottom: 30px;
}

.zoom-slider__filter-link {
  text-transform: uppercase;
}

.zoom-slider__filter-link:not(:last-child) {
  margin-right: 55px;
}

.zoom-slider__head-link {
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  color: currentColor;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
  text-decoration: none;
  white-space: nowrap;
}

.zoom-slider__head-link:hover {
  color: #f24a00;
}

.zoom-slider__head-icon {
  font-size: 14px;
  margin-right: -0.4em;
  margin-left: 0.4em;
}

.zoom-slider__slider-wrapper {
  position: relative;
  color: #fff;
}

.zoom-slider__slider-wrapper:before,
.zoom-slider__slider-wrapper:after {
  content: '';
  width: 1px;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #fff;
  opacity: 0.5;
  z-index: 2;
}

.zoom-slider__slider-wrapper:before {
  left: 25%;
}

.zoom-slider__slider-wrapper:after {
  left: 75%;
}

.zoom-slider__slider:after {
  content: '';
  width: 1px;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #fff;
  opacity: 0.5;
  left: 50%;
  z-index: 2;
}

.zoom-slider__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  max-height: 100vh;
  height: 730px;
  background-size: cover;
  background-position: 50%;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.zoom-slider__buttons {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}

.zoom-slider__button {
  width: 25%;
  text-align: left;
  background: none;
  border: 0;
  color: #fff;
  padding: 38px 40px;
  transition: background 0.3s;
  height: auto;
}

.zoom-slider__button.swiper-slide-thumb-active {
  background: #fff;
  color: #000;
}

.zoom-slider__button-title {
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  line-height: 0.75;
  margin-top: 9px;
  transition: color 0.3s;
  display: block;
}

.zoom-slider__button:hover .zoom-slider__button-title,
.swiper-slide-thumb-active .zoom-slider__button-title {
  color: #f14201;
}

.zoom-slider__control {
  position: absolute;
  width: 55px;
  height: 55px;
  font-size: 24px;
  top: 50%;
  z-index: 2;
  border: 0;
  background: #333;
  color: #fff;
  padding-bottom: 4px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.zoom-slider__control:hover {
  background: #f14201;
}

.zoom-slider__control_prev {
  left: 60px;
}

.zoom-slider__control_next {
  right: 60px;
}

@media only screen and (max-height: 600px) {
  .full-screen-block__footer {
    display: none;
  }
}
@media (min-width: 1920px) and (max-width: 2560px)  {
  .studio-intro-slide {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    background-size: cover;
    background-position: 50%;
    /* text-align: center; */
    position: relative !important;
    z-index: 999 !important;
    color: #fff;
  }
}

/* FONTS */

.white {
  color: #ffffff !important;
}

.black {
  color: #2b2b2b !important;
}

.grey {
  color: #000000 !important;
}

.headline-grey {
  color: #2b2b2b !important;
}

.orange {
 color: #f14201;
}

/* Background colors */

.black-bg {
  background: #2b2b2b;
}

.medium-dark-bg {
  background: #999999;
}

.light-grey {
  background: #f8f8f8;
}

.white-bg {
  background: #fff !important;
}

.orange-bg {
  background: #f14201;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1006;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #f14201; /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f14201;
  margin: 5% auto; /* 15% from the top and centered */
  width: 100%;
  padding: 20px;
  border: 0px solid rgba(0,0,0,0);
  position: relative; /* Stay in place */

}

/* The Close Button */
/* .close {
  transition: all 0.075s ease-in-out;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5%;
  right: 5%;
  size: 50px;
  transform: translate(-50%,-50%);
  border: 0.1em solid;
  border-radius: 6em;
  background: rgba(0,0,0); */

  /* position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 28px;
  height: 28px; */
  /* -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); */
/* } */

.close-container{
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  right: 20%;
  cursor: pointer;
}

.leftright{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #000000;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #000000;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.close{
  margin: 60px 0 0 5px;
  position: absolute;
  opacity: .9!important;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #000000;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #000000;
}




.lead {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.714285714285714;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 20px;
}

#myBtn {
  font-size: 42px;
  background: #000000!important;
  border: none !important;
  color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  /* font-size: 24px; */
  /* font-family: 'Roboto', Helvetica, sans-serif; */
  font-size: 28px;
}

.about-bg {
  padding: 150px 52px;
  background: url("../../assets/img/about-bg.jpg") no-repeat center;
  /* margin-bottom: 50px; */
  height: 900px;
}

.testimonial-bg {
  padding: 150px 52px;
  background: url("../../assets/img/about-bg.jpg") no-repeat center;
}

.z-index {
  z-index: -9999;
}

.hr-short {
  background: #f14201;
  display: block;
  height: 1px;
  margin-bottom: 45px;
  position: relative;
  width: 25px;
}

.hr-short:before {
  top: 0;
  right: -12px;
  width: 8px;
}

.hr-short:after, .hr-short:before {
  background: #f14201;
  content: "";
  height: 1px;
  position: absolute;
}

.hr-short:after {
  top: 4px;
  left: 12px;
  width: 30px;
}

.hr-short:after, .hr-short:before {
  background: #f14201;
  content: "";
  height: 1px;
  position: absolute;
}

.hr-long {
  background: #f14201;
  display: block;
  height: 1px;
  margin-bottom: 45px;
  position: relative;
  width: 25px;
  margin: 0 auto 45px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.hr-long:before {
  top: 0;
  right: -12px;
  width: 8px;
}

.hr-long:after, .hr-long:before {
  background: #f14201;
  content: "";
  height: 1px;
  position: absolute;
}

.hr-long span:before {
  top: 0;
  left: 40px;
  width: 25px;
}

.hr-long span:after {
  background: #f14201;
  content: "";
  height: 1px;
  position: absolute;
}

.hr-long span:after {
  top: 4px;
  left: 45px;
  width: 5px;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hr-long span:after, .hr-long span:before {
  background: #f14201;
  content: "";
  height: 1px;
  position: absolute;
}


button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }



.padding-top-100px {
  padding-top: 100px;
}
.padding-top-75px {
  padding-top: 75px;
}
.padding-top-50px {
  padding-top: 50px;
}