@media screen and (min-width:2560px) {
    .split.left {
        left: 0;
        background: url('https://res.cloudinary.com/abstract-creative-llc/image/upload/v1594729416/Abstract-Creative-Website/capabilities-1280x450px_p7g0fg.jpg') center center no-repeat;
        background-size: cover;
        height: 450px;
    }
    .split.right {
        right: 0;
        background: url('https://res.cloudinary.com/abstract-creative-llc/image/upload/v1594729416/Abstract-Creative-Website/swimmer-1280x450px_mqzhll.jpg') center center no-repeat;
        background-size: cover;
        height: 450px;
    }
    .hero {
        background-image: url(https://res.cloudinary.com/abstract-creative-llc/image/upload/v1594729417/Abstract-Creative-Website/header2560x984px_wgixvi.jpg) !important;
    }
}

@media screen and (min-width:1600px) {
    h1 {
        font-size: 72px
    }
    h2 {
        font-size: 54px
    }
    h4 {
        font-size: 26px
    }
    h5 {
        font-size: 20px
    }
    .pricing_price_title {
        font-size: 72px
    }
}

@media screen and (min-width: 1920px) {
    .transition {
        background-image: url(https://res.cloudinary.com/abstract-creative-llc/image/upload/v1594729420/Abstract-Creative-Website/image-1920x650px_zhzjfz.jpg) !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 650px;
    }
}

@media screen and (min-width:1025px) {
    .video-module .btn-round .ion,
    .video-module .btn-round:before {
        height: 62px;
        width: 62px;
        line-height: 62px
    }
    .video-module .btn-round:before {
        left: 0
    }
}

@media screen and (min-width:1025px) and (max-width:1440px) {
    .banner.boxed {
        padding: 40px
    }
    .cta {
        padding: 50px
    }
    .google-maps-note {
        padding: 25px
    }
    .clb-slider-nav-btn {
        padding: 30px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .prev-btn {
        left: 30px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .next-btn {
        right: 30px
    }
    .ohio-slider-sc .clb-slider-count {
        margin-top: 30px
    }
    .team-member_wrap {
        padding: 30px
    }
    .team-member.cover .team-member_wrap {
        padding: 30px
    }
}

@media screen and (max-width:1024px) {
    .banner.boxed {
        padding: 30px
    }
    .cta {
        padding: 40px
    }
    .google-maps-note {
        padding: 25px
    }
    .clb-slider-nav-btn {
        padding: 30px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .prev-btn {
        left: 30px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .next-btn {
        right: 30px
    }
    .ohio-slider-sc .clb-slider-count {
        margin-top: 30px
    }
    .team-member_wrap {
        padding: 30px
    }
    .team-member.cover .team-member_wrap {
        padding: 30px
    }
    .product-category--default .product-category__background-image {
        min-height: 350px
    }
}

@media screen and (max-width:768px) {
    h1 {
        line-height: 1!important
    }
    .banner-overlay {
        padding-left: 20px;
        padding-right: 20px
    }
    .banner.boxed {
        padding: 20px
    }
    .cta {
        padding: 30px;
        display: block
    }
    .cta .btn {
        margin-top: 20px
    }
    .contact-form .btn,
    .subscribe-form .btn,
    .subscribe-widget .btn {
        display: block;
        width: 100%
    }
    .contact-form form.wpcf7-form,
    .subscribe-form form.wpcf7-form,
    .subscribe-widget form.wpcf7-form {
        margin: 0!important
    }
    .contact-form label,
    .subscribe-form label,
    .subscribe-widget label {
        padding: 0!important;
        margin-top: 15px
    }
    .contact-form .btn {
        margin: 15px 0 0!important
    }
    .countdown-boxed .box-time:after {
        margin-top: -28px
    }
    .google-maps-note {
        padding: 20px
    }
    .google-maps {
        position: relative
    }
    #sb_instagram #sbi_images {
        margin-left: -15px;
        margin-right: -15px
    }
    #sb_instagram #sbi_images .sbi_item {
        width: 50%!important;
        padding: 5px 0!important
    }
    #sb_instagram #sbi_images .sbi_item:nth-child(2n+1) {
        padding-right: 5px!important
    }
    #sb_instagram #sbi_images .sbi_item:nth-child(2n+2) {
        padding-left: 5px!important
    }
    .message-box {
        display: block
    }
    .parallax .parallax-content {
        padding-left: 25px;
        padding-right: 25px
    }
    .vc_row .vc-bg-lines,
    .vc_row .vc-bg-side-text {
        visibility: hidden
    }
    .vc_mobile_spacer {
        height: 50px!important
    }
    .clb-slider-nav-btn {
        padding: 20px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .prev-btn {
        left: 20px
    }
    .clb-slider.nav-inset .clb-slider-nav-btn .next-btn {
        right: 20px
    }
    .clb-slider.slider-offset {
        overflow-x: hidden
    }
    .ohio-slider-sc .clb-slider-count {
        margin-top: 20px
    }
    .socialbar.boxed {
        clear: both
    }
    .socialbar.boxed a {
        height: 60px;
        line-height: 60px;
        font-size: 1.2em
    }
    .socialbar.boxed a .social-text {
        display: none
    }
    .socialbar.boxed a i {
        opacity: 1;
        position: static
    }
    .split-box {
        display: block
    }
    .subscribe-form .btn,
    .subscribe-form input[type=submit] {
        width: auto
    }
    .team-member_wrap {
        padding: 20px
    }
    .team-member.cover .team-member_wrap {
        padding: 20px
    }
    .team-member.cover .team-member_wrap .socialbar {
        bottom: auto;
        position: relative
    }
    .team-member.cover.column-2 .cover-content,
    .team-member.cover.column-2 .team-member_image,
    .team-member.cover.column-3 .cover-content,
    .team-member.cover.column-3 .team-member_image,
    .team-member.cover.column-4 .cover-content,
    .team-member.cover.column-4 .team-member_image,
    .team-member.cover.column-5 .cover-content,
    .team-member.cover.column-5 .team-member_image,
    .team-member.cover.column-6 .cover-content,
    .team-member.cover.column-6 .team-member_image {
        width: 100%;
        float: left
    }
    .team-member.cover.column-2 .team-member_wrap,
    .team-member.cover.column-3 .team-member_wrap,
    .team-member.cover.column-4 .team-member_wrap,
    .team-member.cover.column-5 .team-member_wrap,
    .team-member.cover.column-6 .team-member_wrap {
        opacity: 1;
        visibility: visible
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 46px
    }
    h2 {
        font-size: 40px
    }
    h4 {
        font-size: 24px
    }
    h5 {
        font-size: 19px
    }
    .pricing_price_title {
        font-size: 46px
    }
}